@model Portfolio
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Portfolio Details</li>
            </ol>
        </nav>
        <h1>Portfolio Details</h1>
    </div>
</div><!-- End Page Title -->
<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper init-swiper">

                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          }
                        }
                    </script>

                    <div class="swiper-wrapper align-items-center">

                        @foreach(var image in Model.PortfolioImages)
                        {
                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/@image.ImageUrl" alt="">
                            </div>

                        }


                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: @Model.Category.Name</li>
                        <li><strong>Client</strong>: @Model.Client</li>
                        <li><strong>Project date</strong>: @Model.CreatedAt</li>
                        <li><strong>Project URL</strong>: <a href="#">@Model.Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                    <h2>@Model.Name</h2>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>

        </div>

    </div>

</section><!-- /Portfolio Details Section -->